body {
  margin: 0;
}

#nav_div {
  border: 3px solid black;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content:space-around;
}

#main_div {
  /* height: 85vh; */
  max-width: 90vw;
  margin: auto;
  overflow: hidden;
  position: relative;
  aspect-ratio: 16/9;
  height: fit-content;
}

svg {
  border: 3px solid black;
  /* fill: yellow; */
}

path {
  fill: orange;
  stroke: black;
}

#login {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 100px;
  width: 100vw;
  height: 100vh;
  color: red;
}
